#wrapper #content-wrapper{
    padding-bottom: 0px;
}
.input-group{
    display: none;
}

.sticky-footer{
    width: 100% !important;
    height: 50px !important;
}

.verify{
    width:100%;
    margin: auto;
    font-size: 350px;
    text-align: center;
    top: 0;
    line-height: 15px;
    cursor: pointer;
}
.verify i:hover{
    /* transform: scale(1.08);   */
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.reject-btn{
    color: #dc3545;
}

.approve-btn{
    color: #28a745;;
}

.height-150{
    min-height: 150px;
}